<style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
  }     
  table tr:first-child {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
  }  
</style>

<body>
  <table>
      <tr>
        <td>Repo Name</td>
        <td>Repo Id</td>
        <td>Description</td>
        <td>Type(Pubic/Private)</td>        
      </tr> 
      <tr *ngFor = "let x of table">
          <td>{{x.name}}</td>
          <td>{{x.id}}</td>
          <td>{{x.description}}</td>
          <td *ngIf = "x.private === true; else isPublic">
              Private
          </td>      
            <ng-template #isPublic>
              <td>Public</td>
            </ng-template>        
      </tr>     
  </table>
</body>


